.card-home{

    margin-top: 20px;
}


.link-injustice:link{
    text-decoration: none;
    color: black;

}

.link-injustice:hover{
    text-decoration: none;
    color: black;

}

.link-injustice:visited{
    text-decoration: none;
    color: black;

}

.link-injustice:active{
    text-decoration: none;
    color: black;

}

.hide{
    display: none;
}

.btn-danger{
    margin-left:10px ;
}

.container-edit{
    display:flex;
    justify-content: center;
}