.card-home{

    margin-top: 20px;
}


.fa-balance-scale-right{
    float: right;
    font-size: 20px;
    color: #61ADE0;
}


.link-injustice:link{
    text-decoration: none;
    color: black;

}

.link-injustice:hover{
    text-decoration: none;
    color: black;

}

.link-injustice:visited{
    text-decoration: none;
    color: black;

}

.link-injustice:active{
    text-decoration: none;
    color: black;

}