{% extends 'base.html.twig' %}

{% block title %}New Injustice{% endblock %}

{% block body %}
<div class="container mt-5 ">
    <h1>Dénoncer une injustice</h1>
</div>


{{ include('injustice/_form.html.twig') }}

{% endblock %}